.navbar {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
    min-width: 100vw;
    position: absolute;
    border: none;
    z-index: 5;
}

.jumbotron img {
    border-radius: 100%;
    max-width: 20vw;
    min-width: 20vh
}

.jumbotron {
    background-image: url(m.jpeg);
    background-position: bottom center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    min-width: 100vw;
    color: #000000;
    min-height: 100vh;
    margin: 0;
    z-index: 0;
}

body {
    overflow-x: hidden;
}

.navbar-inverse .navbar-brand {
    color: white;
    min-width: 100vw;
    margin-left: -4rem;
}

#qut {
    background-image: url(nightstreet.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}

#quote {
    color: #d8d8d8;
    float: left;
    margin-top: 5rem;
    margin-right: 1em;
    padding: 1rem;
}

#quote h5 {
    border-top: 1px solid blue;
    border-right: 1px solid blue;
    border-left: 1px solid blue;
    border-bottom: 5px solid blue;
    float: left;
    font-family: cursive;
    padding: 2rem;
}

#dp {
    border: 2px solid black;
    background-image: url(./123.00_jpg_srz.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: inherit;
    background-size: cover;
    min-width: 35vw;
    min-height: 64vh;
    margin-top: 1rem;
    min-width: 1em;
}

#secondpage {
    padding: 2rem;
}

.section1 {
    border-bottom: 0.5px solid #000000;
    margin-top: 1em;
    padding: 1em;
    height: auto;
}

.section1 a {
    color: black;
    padding: 0.5rem;
}

#thirddpage {
    color: aliceblue;
    background-image: url(face.jpeg);
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url(face.jpeg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    ;
    padding: 4rem;
}

#aboutdp {
    margin: 0;
}
