.jumbotron img {
    width: 15rem;
    text-align: center;
    border-radius: 100%;
}

.navbar {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 80, 90);
    width: 100vw;
    position: fixed;
    z-index: 5;
}

.jumbotron {
    background-image: url(images/for.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
}

body {
    overflow-x: hidden;
}

.navbar-inverse .navbar-brand {
    color: white;
    width: 100vw;
    margin-left: -4rem;
}

#abt {
    color: black;
}
